<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ザ脳 一人称デジタルコミュニケーション ググれカス.comや付箋アプリなど、UIUXデザイン開発効率化のためのデジタルツール集">
    <meta name="keywords" content="ザ脳 一人称デジタルコミュニケーション/脳内会議/独り会議/Web便利ツール/UIUXデザイン開発効率化/Webデザイン/Web開発/メディアアート/フロントエンドエンジニア/UIUXデザイナー">
    <title>ザ脳 / TheNo</title>
    <!-- <title><%= current_page.data.title || "TheNo" %></title> -->
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "site.bundle" %>
  </body>
</html>
