--- title: Hello ---
<!-- <div id="application-container"></div> -->

<!-- <div class="audio_wrap play"> <div class="inner"> <div class="audio_button">Sound Play / Off</div> <audio id="audio" src="img/universe.mp3" loop="loop"> Your Browser <code>audio</code> not Support </audio> </div> </div> -->

<!-- Dev -->
<div id="menu-container"></div>

<div id="main-container"></div>

<div id="button-container"></div>

<%= partial :particle %>
<%= partial :particle %>
