<%# --- title: ザ脳 --- %>
<%= javascript_include_tag "jquery.min" %>
<!-- <div id="application-container"></div> -->

<!-- <div class="audio_wrap play"> <div class="inner"> <div class="audio_button">Sound Play / Off</div> <audio id="audio" src="img/universe.mp3" loop="loop"> Your Browser <code>audio</code> not Support </audio> </div> </div> -->

<!-- Dev -->
<div id="menu-container"></div>

<div id="main-container"></div>

<div id="button-container"></div>

<%= partial :particle %>
<%= partial :particle %>

<footer>ザ脳 by <a href="https://twitter.com/asagiridesign" target="_blank">Atsushi Ito</a> / <a href="https://agd.tokyo" target="_blank">朝霧
デザイン</a></footer>
